@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background: #111;
}

.weather-app{
    height: 100vh;
    background-image: url(../img/day/clouds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    transition: 500ms;
    opacity: 1;
}

.panel ul {
    padding:0 0 1em 0;
    border-bottom: 1px #ccc solid;
}

.panel ul li{
    color:#ccc;
    margin: 2.5em 0;
}

.city{
    display: block;
    cursor: pointer;
}

.city:hover{
    color:#fff;
}

.details li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-height: 300px) {
    .weather-app{
        height: 40rem;
    }
    
}